* {
    margin: 0;
    text-decoration: none;
    font-family: Arial;
}

//responsive
body, html {
    width: 100%;
    overflow-x: hidden;
}
//main
.header {
    .top-header {
        .logo {
            font-size: 20px;
            position: absolute;
            left: 50px;
            margin: 1.2% 0px;
            color: rgb(0, 0, 0);   
        }
        background-color: rgb(244, 244, 244);
        display: flex;
        justify-content: flex-end;
        padding: 4px 30px;
        .fa-heart {
            color: rgb(0, 0, 0);
            &:hover {
                color: rgb(161, 88, 88);
            }
        }
        .fa-cart-shopping{
            color: rgb(0, 0, 0);
            &:hover {
                color: rgb(78, 98, 74);
            }
        }
        ul {
            padding: 20px 0px;
            il {
                span {
                    color: rgb(0, 0, 0);
                    padding: 0px 15px;
                    font-size: 20px;
                }
                a {
                    color: rgb(0, 0, 0);
                    padding: 0px 15px;
                    font-size: 20px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .cart {
            position: relative;
            display: inline;
            .noti-cart {
                position: absolute;
                top: 0px;
                left: 31px;
                span {
                    color: white;
                    font-size: 12px;
                    background-color: red;
                    border-radius: 100%;
                    padding: 0 3px;
                }
            }
        }
        
    }
    .mid-header {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-around;
        padding: 8px 10px;
        ul {
            padding: 10px 0px;
            margin-bottom: 20px;
            border: 2px solid rgb(78, 78, 78);
            il {
                a {
                    color: rgb(0, 0, 0);
                    padding: 2px 100px;
                    font-size: 24px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.footer {
    background-color: rgb(74, 75, 76);
    color: white;
    font-size: 12px;
    padding: 12px 20px;
    .author {
        text-align: center;
    }
}
//home
.introduciton {
    margin-bottom: 50px;
    .title {
        text-align: center;
        margin-top: 30px;
    }
    .intro {
        text-align: center;
        font-size: 20px;
    }

}
.main-home {
    a {
        .title {
            color: black;
            font-size: 20px;
            text-decoration: solid;
            text-decoration: underline;
            width: 100%;
            padding: 0 40px;
        }
    }
}
//login
.login-container {
    display: flex;
    justify-content: center;
   
    .login {
        margin: 12% 0px;
        border: 3px solid black;
        max-height: 100%;
        width: 20%;
        text-align: center;

        .title {    
            span {
                font-size: 50px;
                color: rgb(85, 85, 171);
            }
        }
        .form { 
            // span {
            // }
            input {
                margin-bottom: 10px;
                margin-top: 10px;
                border-radius: 20px;
                text-align: center;
            }
        }
    }
}

//register
.register-container {
    display: flex;
    justify-content: center;
   
    .register {
        margin: 12% 0px;
        border: 3px solid black;
        max-height: 100%;
        width: 20%;
        text-align: center;

        .title {    
            span {
                font-size: 50px;
                color: rgb(85, 85, 171);
            }
        }
        .form { 
            // span {
            // }
            input {
                margin-bottom: 10px;
                margin-top: 10px;
                border-radius: 20px;
                text-align: center;
            }
        }
    }
}
//products
.products-container {
    .title {
        display: flex;
        justify-content: center;
    }
    .search-bar {
        text-align: center;
        margin: 20px 0;
        input {
            font-size: 15px;
            padding: 0 20px;
            width: 500px;
            height: 30px;
            border-radius: 20px;
        }
    }
    .product-container {
        width: 100%;
        text-align: center;
        .product {
            border: 1px solid black;
            width: 240px;
            margin: 40px 20px;
            display: inline-block;
            a {
                color: black;
                &:hover {
                    color: rgb(59, 55, 70);
                }
                .product-wrapper-1 {
                    // border: 1px solid black;
                    width: 240px;
                    height: 280px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .img-product {
                        img {
                            margin-bottom: 10px;
                            width: 170px;
                            height: 120px;
                        }
                    }
                    .title-product {
                        span {
                            font-size: 26px;
                            color: rgb(81, 108, 148);
                        }
                    }
                    .description-product {
                        span {
                            color: rgb(86, 86, 86);
                            font-size: 15px;
                        }
                    }
                }
            }
                .product-wrapper-2 {
                    .choose-product {
                        width: 240px;
                        display: flex;
                        justify-content: flex-start;
                        font-size: 20px;
                        .item-choose {
                            width: 119px;
                            text-align: center;
                            padding: 3px 0;
                            cursor: pointer;
                        }
                        .like-product {
                            border: 1px solid rgb(163, 163, 163);
                            &:hover {
                                color: red;
                            }
                        }
                        .cart-product {
                            border: 1px solid rgb(186, 186, 186);
                            &:hover {
                                color: green;
                            }
                        }
                    }
                }
        }
    }
}
//contact
h1 {
    text-align: center;
    margin-top: 30px;
}
.contact-container {
    text-align: center;
    span {
        display: block;
        padding: 20px 20px;
    }
}

//staff
.header-staff { 
    .btn {
        padding: 0 50px;
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        .button-staff {
            margin-bottom: 50px;
            width: 100%;
            text-align: center;
            button {
                padding: 30px 40px;
                font-size: 30px;
            }
        }
    }
}
.main-staff {
    .btn {
        padding: 0 50px;
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        .button-staff {
            margin-bottom: 50px;
            width: 100%;
            text-align: center;
            button {
                padding: 30px 40px;
                font-size: 30px;
            }
        }
    }
    .create-container {
        margin: 50px 20px;
        input {
            width: 200px;
        }
        .table-container {
            height: 400px;
            overflow-y: scroll;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 800px;
            td, th {
                border: 1px solid #000000;
                text-align: left;
                padding: 8px;
            }
            th {
                background-color: rgb(215, 200, 200);
                width: 69.69%;
            }
        }
    }
    .remove-container {
        margin: 50px 20px;
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            td, th {
                border: 1px solid #000000;
                text-align: left;
                padding: 8px;
            }
            th {
                background-color: rgb(215, 200, 200);
            }
        }
    }
    .change-container {
        margin: 50px 20px;
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            td, th {
                border: 1px solid #000000;
                text-align: left;
                padding: 8px;
            }
            th {
                background-color: rgb(215, 200, 200);
            }
        }
    }
}

//customer-list
.customer-list-container {
    margin: 50px 20px;
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        td, th {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: rgb(215, 200, 200);
        }
    }
}

//cart
.cart-container {
    .item-wrapper {
        display: grid;
        margin: 20px 30px;
        grid-template-columns: 80px 120px 200px 50px 500px 200px 400px;
        border: 1px solid black;
        .column {
            margin: auto;
            padding: 10px 35px;
        }
        .checkbox {
            transform: scale(2);
        }
    }
    .btn-amount {
        input {
            border: none;
            color: rgb(138, 138, 138);
            background-color: white;
            font-size: 14px;
            width: 30px;
            height: 14px;
            &:hover {
                color: rgb(62, 62, 62);
            }
        }
    }
    .button-hide {
        background-color: white;
        border: none;
        box-shadow: none;
        cursor: pointer;
    }
    .amount-value {
        text-align: center;
    }
    .noti {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 230px;
        font-size: 50px;
        color: rgb(153, 153, 153);
    }
    .cart-main {
        .checkbox {
            margin: 20px 65px;
            input {
                transform: scale(1.5);
            }
        }
    }
    .total-container {
        width: 404px;
        border: 1px solid black;
        padding: 30px 10px;
        margin: 20px 0;
        margin-left: 70%;
        div {
            padding: 10px 0;
        }
        #btn-cp-check {
            color: rgb(69, 69, 69);
            border: none;
            width: 80px;
            height: 22px;
            background-color: rgb(223, 239, 223);
            &:hover {
                color: green;
                background-color: rgb(191, 233, 191);
                cursor: pointer;
            }
        }
    }
}


  


