* {
  margin: 0;
  text-decoration: none;
  font-family: Arial; }

body, html {
  width: 100%;
  overflow-x: hidden; }

.header .top-header {
  background-color: #f4f4f4;
  display: flex;
  justify-content: flex-end;
  padding: 4px 30px; }
  .header .top-header .logo {
    font-size: 20px;
    position: absolute;
    left: 50px;
    margin: 1.2% 0px;
    color: black; }
  .header .top-header .fa-heart {
    color: black; }
    .header .top-header .fa-heart:hover {
      color: #a15858; }
  .header .top-header .fa-cart-shopping {
    color: black; }
    .header .top-header .fa-cart-shopping:hover {
      color: #4e624a; }
  .header .top-header ul {
    padding: 20px 0px; }
    .header .top-header ul il span {
      color: black;
      padding: 0px 15px;
      font-size: 20px; }
    .header .top-header ul il a {
      color: black;
      padding: 0px 15px;
      font-size: 20px; }
      .header .top-header ul il a:hover {
        text-decoration: underline; }
  .header .top-header .cart {
    position: relative;
    display: inline; }
    .header .top-header .cart .noti-cart {
      position: absolute;
      top: 0px;
      left: 31px; }
      .header .top-header .cart .noti-cart span {
        color: white;
        font-size: 12px;
        background-color: red;
        border-radius: 100%;
        padding: 0 3px; }

.header .mid-header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 8px 10px; }
  .header .mid-header ul {
    padding: 10px 0px;
    margin-bottom: 20px;
    border: 2px solid #4e4e4e;
    border-radius: 20px; }
    .header .mid-header ul il a {
      color: black;
      padding: 2px 100px;
      font-size: 24px; }
      .header .mid-header ul il a:hover {
        text-decoration: underline; }

.footer {
  background-color: #4a4b4c;
  color: white;
  font-size: 12px;
  padding: 12px 20px; }
  .footer .author {
    text-align: center; }

.introduciton {
  margin-bottom: 50px; }
  .introduciton .title {
    text-align: center;
    margin-top: 30px; }
  .introduciton .intro {
    text-align: center;
    font-size: 20px; }

.main-home a .title {
  color: black;
  font-size: 20px;
  text-decoration: solid;
  text-decoration: underline;
  width: 100%;
  padding: 0 40px; }

.login-container {
  display: flex;
  justify-content: center; }
  .login-container .login {
    margin: 12% 0px;
    border: 3px solid black;
    max-height: 100%;
    width: 20%;
    text-align: center; }
    .login-container .login .title span {
      font-size: 50px;
      color: #5555ab; }
    .login-container .login .form input {
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 20px;
      text-align: center; }

.register-container {
  display: flex;
  justify-content: center; }
  .register-container .register {
    margin: 12% 0px;
    border: 3px solid black;
    max-height: 100%;
    width: 20%;
    text-align: center; }
    .register-container .register .title span {
      font-size: 50px;
      color: #5555ab; }
    .register-container .register .form input {
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 20px;
      text-align: center; }

.products-container .title {
  display: flex;
  justify-content: center; }

.products-container .search-bar {
  text-align: center;
  margin: 20px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }
  .products-container .search-bar input {
    border: 1px solid #818181;
    font-size: 15px;
    padding: 0 20px;
    width: 500px;
    height: 30px;
    border-radius: 15px; }
  .products-container .search-bar i {
    cursor: pointer;
    color: #818181; }
    .products-container .search-bar i:hover {
      color: black;
      transform: scale(1.1); }

.products-container .product-container {
  width: 100%;
  text-align: center; }
  .products-container .product-container .product {
    border: 1px solid black;
    border-radius: 20px;
    width: 240px;
    margin: 50px 20px;
    display: inline-block; }
    .products-container .product-container .product a {
      color: black; }
      .products-container .product-container .product a:hover {
        color: #3b3746; }
      .products-container .product-container .product a .product-wrapper-1 {
        width: 240px;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .products-container .product-container .product a .product-wrapper-1 .img-product img {
          margin-bottom: 10px;
          width: 170px;
          height: 120px;
          border-bottom: 1px solid black; }
        .products-container .product-container .product a .product-wrapper-1 .title-product span {
          font-size: 26px;
          color: #516c94; }
        .products-container .product-container .product a .product-wrapper-1 .description-product span {
          color: #565656;
          font-size: 15px; }
    .products-container .product-container .product .product-wrapper-2 {
      margin-top: 2px; }
      .products-container .product-container .product .product-wrapper-2 .choose-product {
        display: flex;
        justify-content: flex-start;
        font-size: 20px; }
        .products-container .product-container .product .product-wrapper-2 .choose-product .item-choose {
          width: 100%;
          text-align: center;
          padding: 3px 0;
          cursor: pointer;
          border: 1px solid #a3a3a3; }
        .products-container .product-container .product .product-wrapper-2 .choose-product .like-product {
          border-radius: 0 0 0 18px; }
          .products-container .product-container .product .product-wrapper-2 .choose-product .like-product:hover {
            color: red; }
        .products-container .product-container .product .product-wrapper-2 .choose-product .cart-product {
          border-radius: 0 0 18px 0; }
          .products-container .product-container .product .product-wrapper-2 .choose-product .cart-product:hover {
            color: green; }

h1 {
  text-align: center;
  margin-top: 30px; }

.contact-container {
  text-align: center; }
  .contact-container span {
    display: block;
    padding: 20px 20px; }

.header-staff .btn {
  padding: 0 50px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start; }
  .header-staff .btn .button-staff {
    margin-bottom: 50px;
    width: 100%;
    text-align: center; }
    .header-staff .btn .button-staff button {
      padding: 30px 40px;
      font-size: 30px; }

.main-staff .btn {
  padding: 0 50px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start; }
  .main-staff .btn .button-staff {
    margin-bottom: 50px;
    width: 100%;
    text-align: center; }
    .main-staff .btn .button-staff button {
      padding: 30px 40px;
      font-size: 30px; }

.main-staff .create-container {
  margin: 50px 20px; }
  .main-staff .create-container input {
    width: 200px; }
  .main-staff .create-container .table-container {
    height: 400px;
    overflow-y: scroll; }
  .main-staff .create-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 800px; }
    .main-staff .create-container table td, .main-staff .create-container table th {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px; }
    .main-staff .create-container table th {
      background-color: #d7c8c8;
      width: 69.69%; }

.main-staff .remove-container {
  margin: 50px 20px; }
  .main-staff .remove-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; }
    .main-staff .remove-container table td, .main-staff .remove-container table th {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px; }
    .main-staff .remove-container table th {
      background-color: #d7c8c8; }

.main-staff .change-container {
  margin: 50px 20px; }
  .main-staff .change-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; }
    .main-staff .change-container table td, .main-staff .change-container table th {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px; }
    .main-staff .change-container table th {
      background-color: #d7c8c8; }

.customer-list-container {
  margin: 50px 20px; }
  .customer-list-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; }
    .customer-list-container table td, .customer-list-container table th {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px; }
    .customer-list-container table th {
      background-color: #d7c8c8; }

.cart-container .item-wrapper {
  display: grid;
  margin: 20px 30px;
  grid-template-columns: 80px 120px 200px 50px 500px 200px 400px;
  border: 1px solid black; }
  .cart-container .item-wrapper .column {
    margin: auto;
    padding: 10px 35px; }
  .cart-container .item-wrapper .checkbox {
    transform: scale(2); }

.cart-container .btn-amount input {
  border: none;
  color: #8a8a8a;
  background-color: white;
  font-size: 14px;
  width: 30px;
  height: 14px; }
  .cart-container .btn-amount input:hover {
    color: #3e3e3e; }

.cart-container .button-hide {
  background-color: white;
  border: none;
  box-shadow: none;
  cursor: pointer; }

.cart-container .amount-value {
  text-align: center; }

.cart-container .noti {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 230px;
  font-size: 50px;
  color: #999999; }

.cart-container .cart-main .checkbox {
  margin: 20px 65px; }
  .cart-container .cart-main .checkbox input {
    transform: scale(1.5); }

.cart-container .total-container {
  width: 404px;
  border: 1px solid black;
  padding: 30px 10px;
  margin: 20px 0;
  margin-left: 70%; }
  .cart-container .total-container div {
    padding: 10px 0; }
  .cart-container .total-container #btn-cp-check {
    color: #454545;
    border: none;
    width: 80px;
    height: 22px;
    background-color: #dfefdf; }
    .cart-container .total-container #btn-cp-check:hover {
      color: green;
      background-color: #bfe9bf;
      cursor: pointer; }
