* {
  margin: 0;
  text-decoration: none;
  font-family: Arial; }

body,
html {
  width: 100%;
  overflow-x: hidden; }

a {
  color: black; }

.header .top-header {
  background-color: #f4f4f4;
  display: flex;
  justify-content: flex-end;
  padding: 4px 30px; }
  .header .top-header .logo {
    font-size: 20px;
    position: absolute;
    left: 50px;
    margin: 1.2% 0px;
    color: black; }
  .header .top-header .fa-heart {
    color: black; }
    .header .top-header .fa-heart:hover {
      color: #a15858; }
  .header .top-header .fa-cart-shopping {
    color: black; }
    .header .top-header .fa-cart-shopping:hover {
      color: #4e624a; }
  .header .top-header ul {
    padding: 20px 0px; }
    .header .top-header ul il span {
      color: black;
      padding: 0px 15px;
      font-size: 20px; }
    .header .top-header ul il a {
      color: black;
      padding: 0px 15px;
      font-size: 20px; }
      .header .top-header ul il a:hover {
        text-decoration: underline; }
  .header .top-header .cart {
    position: relative;
    display: inline; }
    .header .top-header .cart .noti-cart {
      position: absolute;
      top: 0px;
      left: 31px; }
      .header .top-header .cart .noti-cart span {
        color: white;
        font-size: 12px;
        background-color: red;
        border-radius: 100%;
        padding: 0 3px; }

.header .mid-header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 8px 10px; }
  .header .mid-header ul {
    padding: 10px 0px;
    margin-bottom: 20px;
    border: 2px solid #4e4e4e;
    border-radius: 20px; }
    .header .mid-header ul il a {
      color: black;
      padding: 2px 100px;
      font-size: 24px; }
      .header .mid-header ul il a:hover {
        text-decoration: underline; }

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #727272;
  color: white;
  font-size: 12px;
  padding: 12px 20px; }
  .footer .footer-wrap {
    width: calc(100%/3);
    margin-top: 20px; }
    .footer .footer-wrap .title {
      font-size: 20px; }
    .footer .footer-wrap .icon {
      font-size: 30px;
      margin-top: 20px;
      margin-right: 20px; }
  .footer .author {
    margin-top: 100px; }

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 50%;
  background-color: white;
  border: 1px solid black;
  border-radius: 100%; }

.prev-arrow {
  top: 350px;
  left: 230px; }

.next-arrow {
  top: 350px;
  left: 1250px; }

.img-header {
  width: 1000px;
  left: 17%; }

.introduciton {
  margin-bottom: 50px; }
  .introduciton .title {
    text-align: center;
    margin-top: 30px; }
  .introduciton .intro {
    text-align: center;
    font-size: 20px; }

.main-home a .title {
  color: black;
  font-size: 20px;
  text-decoration: solid;
  text-decoration: underline;
  width: 100%;
  padding: 0 40px; }

.login-container {
  display: flex;
  justify-content: center; }
  .login-container .login {
    margin: 12% 0px;
    border: 3px solid black;
    max-height: 100%;
    width: 20%;
    text-align: center; }
    .login-container .login .title span {
      font-size: 50px;
      color: #5555ab; }
    .login-container .login .form input {
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 20px;
      text-align: center; }

.register-container {
  display: flex;
  justify-content: center; }
  .register-container .register {
    margin: 4% 0px;
    border: 3px solid black;
    border-radius: 20px;
    max-height: 100%;
    width: 20%;
    text-align: center; }
    .register-container .register .title {
      margin-top: 20px; }
      .register-container .register .title span {
        font-size: 50px;
        color: #5555ab; }
    .register-container .register .form .btn_sbm {
      padding: 5px 20px; }
    .register-container .register .form input {
      padding: 5px;
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 5px;
      text-align: center; }
    .register-container .register .form a {
      color: #6b6bfb; }

.products-container .title {
  display: flex;
  justify-content: center; }

.products-container .search-bar {
  text-align: center;
  margin: 20px 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }
  .products-container .search-bar input {
    border: 1px solid #818181;
    font-size: 15px;
    padding: 0 20px;
    width: 500px;
    height: 30px;
    border-radius: 15px; }
  .products-container .search-bar i {
    cursor: pointer;
    color: #818181; }
    .products-container .search-bar i:hover {
      color: black;
      transform: scale(1.1); }

.products-container .product-container {
  width: 100%;
  text-align: center; }
  .products-container .product-container .product {
    border: 1px solid black;
    border-radius: 20px;
    width: 240px;
    margin: 50px 20px;
    display: inline-block; }
    .products-container .product-container .product a {
      color: black; }
      .products-container .product-container .product a:hover {
        color: #3b3746; }
      .products-container .product-container .product a .product-wrapper-1 {
        width: 240px;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .products-container .product-container .product a .product-wrapper-1 .img-product img {
          margin-bottom: 10px;
          width: 170px;
          height: 120px;
          border-bottom: 1px solid black; }
        .products-container .product-container .product a .product-wrapper-1 .title-product span {
          font-size: 26px;
          color: #516c94; }
        .products-container .product-container .product a .product-wrapper-1 .description-product span {
          color: #565656;
          font-size: 15px; }
    .products-container .product-container .product .product-wrapper-2 {
      margin-top: 5px; }
      .products-container .product-container .product .product-wrapper-2 .choose-product {
        display: flex;
        justify-content: flex-start;
        font-size: 20px; }
        .products-container .product-container .product .product-wrapper-2 .choose-product .item-choose {
          width: 100%;
          text-align: center;
          padding: 3px 0;
          cursor: pointer;
          border: 1px solid #a3a3a3; }
        .products-container .product-container .product .product-wrapper-2 .choose-product .like-product {
          border-radius: 0 0 0 18px; }
          .products-container .product-container .product .product-wrapper-2 .choose-product .like-product:hover {
            color: red; }
        .products-container .product-container .product .product-wrapper-2 .choose-product .cart-product {
          border-radius: 0 0 18px 0; }
          .products-container .product-container .product .product-wrapper-2 .choose-product .cart-product:hover {
            color: green; }

h1 {
  text-align: center;
  margin-top: 30px; }

.contact-container {
  text-align: center; }
  .contact-container span {
    display: block;
    padding: 20px 20px; }

.staff-container {
  display: grid;
  grid-auto-columns: minmax(100px, auto);
  grid-template-areas: "header header-content header-content header-content header-content" "left-header content content content right-content" "left-header content content content right-content" "footer footer footer footer footer";
  grid-template-columns: 0.1fr; }
  .staff-container .header-staff .btn {
    height: 725px;
    background-color: #e8e8e8; }
    .staff-container .header-staff .btn .button-staff {
      text-align: center; }
      .staff-container .header-staff .btn .button-staff button {
        background-color: #f3f3f3;
        border: none;
        width: 200px;
        padding: 20px 0px;
        font-size: 20px; }
  .staff-container .main-staff .btn {
    padding: 0 50px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start; }
    .staff-container .main-staff .btn .button-staff {
      margin-bottom: 50px;
      width: 100%;
      text-align: center; }
      .staff-container .main-staff .btn .button-staff button {
        padding: 15px 20px;
        font-size: 20px; }
  .staff-container .main-staff .create-container {
    margin: 50px 20px;
    width: 420px;
    display: grid; }
    .staff-container .main-staff .create-container input {
      width: 200px; }
    .staff-container .main-staff .create-container .table-container {
      height: 400px;
      width: 420px;
      overflow-y: scroll; }
    .staff-container .main-staff .create-container table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 400px; }
      .staff-container .main-staff .create-container table td, .staff-container .main-staff .create-container table th {
        border: 1px solid #000000;
        text-align: left;
        padding: 8px; }
      .staff-container .main-staff .create-container table th {
        background-color: #d7c8c8;
        position: sticky;
        top: 0; }
    .staff-container .main-staff .create-container .right-content {
      margin-left: 50px;
      grid-area: right-content; }
  .staff-container .main-staff .remove-container {
    margin: 50px 20px; }
    .staff-container .main-staff .remove-container .table {
      height: 500px;
      overflow-y: scroll; }
    .staff-container .main-staff .remove-container table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%; }
      .staff-container .main-staff .remove-container table td,
      .staff-container .main-staff .remove-container table th {
        border: 1px solid #000000;
        text-align: left;
        padding: 8px; }
      .staff-container .main-staff .remove-container table th {
        position: sticky;
        top: 0;
        background-color: #d7c8c8; }
  .staff-container .main-staff .change-container {
    margin: 50px 20px;
    display: grid; }
    .staff-container .main-staff .change-container .table {
      height: 500px;
      width: 900px;
      overflow-y: scroll; }
    .staff-container .main-staff .change-container table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%; }
      .staff-container .main-staff .change-container table td,
      .staff-container .main-staff .change-container table th {
        border: 1px solid #000000;
        text-align: left;
        padding: 8px; }
      .staff-container .main-staff .change-container table th {
        position: sticky;
        top: 0;
        background-color: #d7c8c8; }
    .staff-container .main-staff .change-container .right-content {
      margin-left: 50px;
      grid-area: right-content; }

.customer-list-container {
  margin: 50px 20px; }
  .customer-list-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; }
    .customer-list-container table td,
    .customer-list-container table th {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px; }
    .customer-list-container table th {
      background-color: #d7c8c8; }

.cart-container .item-container {
  display: flex;
  flex-wrap: wrap; }

.cart-container .item-wrapper {
  width: 900px;
  display: grid;
  margin: 20px 30px;
  grid-template-columns: 60px 100px 150px 100px 200px 150px 100px;
  border: 1px solid black; }
  .cart-container .item-wrapper .column {
    margin: auto;
    padding: 10px 35px; }
  .cart-container .item-wrapper .checkbox {
    transform: scale(2); }

.cart-container .btn-amount input {
  border: none;
  color: #8a8a8a;
  background-color: white;
  font-size: 14px;
  width: 30px;
  height: 14px; }
  .cart-container .btn-amount input:hover {
    color: #3e3e3e; }

.cart-container .button-hide {
  background-color: white;
  border: none;
  box-shadow: none;
  cursor: pointer; }

.cart-container .amount-value {
  text-align: center; }

.cart-container .noti {
  margin-left: 330px;
  margin-top: 100px;
  margin-bottom: 230px;
  font-size: 50px;
  color: #999999; }

.cart-container .cart-main .checkbox {
  margin: 20px 65px; }
  .cart-container .cart-main .checkbox input {
    transform: scale(1.5); }

.cart-container .total-container {
  width: 404px;
  border: 1px solid black;
  padding: 30px 10px;
  margin: 20px 0; }
  .cart-container .total-container div {
    padding: 10px 0; }
  .cart-container .total-container #btn-cp-check {
    color: #454545;
    border: none;
    width: 80px;
    height: 22px;
    background-color: #dfefdf; }
    .cart-container .total-container #btn-cp-check:hover {
      color: green;
      background-color: #bfe9bf;
      cursor: pointer; }

.user-container {
  display: flex;
  flex-wrap: wrap; }
  .user-container .SettingMenu {
    margin: 50px 60px;
    padding: 50px 0px; }
  .user-container .infomation {
    margin: 50px 10px;
    border: 1px solid black;
    width: 1050px;
    height: 480px; }
    .user-container .infomation .content-wrap {
      padding: 50px 250px;
      display: flex;
      flex-wrap: wrap; }
      .user-container .infomation .content-wrap .label {
        padding: 5px 0; }
        .user-container .infomation .content-wrap .label .settingInfo {
          margin-bottom: 190px; }
        .user-container .infomation .content-wrap .label span {
          float: right; }
      .user-container .infomation .content-wrap .input {
        margin: 0 20px; }
        .user-container .infomation .content-wrap .input .settingInfo {
          margin-bottom: 85px; }
      .user-container .infomation .content-wrap #saveBtn {
        height: 20px;
        width: 50px; }
    .user-container .infomation input[type=submit] {
      cursor: pointer;
      background-color: white;
      border: 1px solid #626262; }
    .user-container .infomation input[type=submit]:hover {
      background-color: #f8f8f8; }
