<h1>Contact us</h1>
<br>
<div class="contact-container">
    <span>If you have any problems or any questions, please contact us for better service !</span>
    <span>Hotline 1 : 1900 0001</span>
    <span>Hotline 2 : 1900 0002</span>
    <span>Hotline 3 : 1900 0003</span>
    <span>Email: faj@gmail.com</span>
    <span>Email: support@faj.com</span>
    <span>Address: 123 FAJ, VietNam</span>
    <span>To Comments, complaints, reviews: 1900 0091</span>
    <br>
</div>