<div class="btn">
    <div class="create-product button-staff">
        <a href="/staff/product/create"><button>Create Product</button></a>
    </div>
    <div class="Change-product button-staff">
        <a href="/staff/product/change"><button>Change Product</button></a>
    </div>
    <div class="Remove-product button-staff">
        <a href="/staff/product/remove"><button>Remove Product</button></a>
    </div>
</div>