<div class="btn">
    <div class="list-order button-staff">
        <a href="/staff/order/list"><button>List Order</button></a>
    </div>
    <div class="create-order button-staff">
        <a href="/staff/order/create"><button>Create Order</button></a>
    </div>
    <div class="Change-order button-staff">
        <a href="/staff/order/change"><button>Change Order</button></a>
    </div>
    <div class="Remove-order button-staff">
        <a href="/staff/order/remove"><button>Remove order</button></a>
    </div>
</div>