<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <div class="staff-container">
        <div class="header-staff">
            <a href="/">
                <h1>Home</h1>
            </a>
            <div class="btn" style="text-align: center;">
                <br>
                <span>Hi, {{nameUser}} !</span>
                <br><br>
                <div class="staff-product button-staff">
                    <a href="/staff/product"><button>Product</button></a>
                </div>
                <div class="staff-customer button-staff">
                    <a href="/staff/customer"><button>Customer</button></a>
                </div>
                <div class="staff-order button-staff">
                    <a href="/staff/order"><button>Order</button></a>
                </div>
                
            </div>
        </div>
        <div class="main-staff">
            <br><br>
            {{{body}}}
        </div>
    </div>

</body>
<script src="./js/staff.js"></script>
</html>